@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
}

:root{
    background: #2D2F33;
    font-family:'monospace', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif


}



img {
    image-rendering: pixelated;
}

article{
    cursor: pointer;
    border-color:#d1d4dd;
    border-width: 2px;
    border-radius:10px;
    border-style:solid
}
div > .shine{
    display:block;
    height: 100%;
    width: 100%;
    position:absolute;
    pointer-events: none;


    background: linear-gradient(90deg,transparent,rgb(240, 248, 255),transparent);
    top:0;
    left:-150%;
    transform: skewX(30deg)
}
 img:hover ~ .shine {
    
    left:150%;
    transition: .5s;
}